* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#main-grid {
    display: grid;
    grid-template-columns: 200px 4fr;
    grid-template-rows: auto 1fr; 
    height: 100vh; 
    overflow: visible;
}

/******* Sidebar *******/

#sidebar-grid {
    background-color: #5C95D1;
    grid-column: 1 / 2; 
    grid-row: 1 / span 2; 
}

#sidebar-header {
    padding: 5px;
    display: flex;
    gap: 5px;
    margin: 0;
}

#sidebar-header img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
 
#sidebar-header img:hover {
    filter: brightness(0) saturate(100%) invert(17%) sepia(28%) saturate(6211%) hue-rotate(230deg) brightness(79%) contrast(138%);
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#dashboard-button {
    background-color: transparent;
    border: none;
    font-size: 23px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

#links-set-one,
#links-set-two {
    margin-top: 50px;
}

#links-set-one ul,
#links-set-two ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    margin-left: 20px;
}

#links-set-one ul li, 
#links-set-two ul li {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    font-size: 18px;
}

#links-set-one ul li a,
#links-set-two ul li a {
    text-decoration: none;
    color: white;
}

.icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%)
}

#links-set-one ul li:hover, 
#links-set-two ul li:hover {
    background-color: darkblue;
    padding: 5px;
    width: 100%;
    border-radius: 2px 0px 2px 15px;
}



/****** Header ******/

#header-grid {
    background-color: white;
    grid-column: 2 / 3; 
    grid-row: 1 / 2; 

    display: grid;
    grid-template-rows: 60px 100px;

    border-bottom: 2px inset lightgray;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.7);
    z-index: 10;
}

#top-header {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0 10px;
}

#search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

#search-bar input {
    width: 17rem;
    border-radius: 5px;
    padding: 5px 5px;
}

#profile {
    display: flex;
    gap: 10px;
    align-items: center;
    color: black;
    font-size: 1.1rem;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.large {
    width: 50px;
    height: 50px;
}

#bottom-header {
    grid-row: 2;
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: 0 20px;
    align-items: center;
}

#user-greeting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#greeting {
    display: flex;
    flex-direction: column;
}

.header-buttons {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

.header-buttons button {
    background-color: #5C95D1;
    font-size: 17px;
    border: 1px inset transparent;
    border-radius: 10px;
    padding: 3px 15px;
    color: white;
}

.header-buttons button:hover {
    background-color: darkblue;
}

/****** Main Grid ******/

#main-content-grid {
    background-color: lightgray;
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
}


